.jumbotron.text-center{
    background-image: url("https://mapr.com/blog/sample-code-best-practices-and-technical-resources-now-available-developer-central/assets/devcentralimage.jpg");
}

.jumbotron.text-center h1{
    color: whitesmoke;
}

.col{
    margin-top: 100px;
}

.containerOmOss {
    height: 10em;
    position: relative
    
}

.col-sm-8 {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    display: block;
    text-align: center;
}

.col-sm-8.column h2{
    text-align: center;
}

.kodbagarnalogo{
    display: block;
    margin: 0 auto;
    width: 35%;
}


div.row {
    text-align: center;
}


@media only screen and (min-width: 400px){
    .kodbagarnalogo {
        margin-top: 130px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 45%;
        height: auto;
    }

    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}

@media only screen and (min-width: 450px){
    .kodbagarnalogo {
        margin-top: 130px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 40%;
        height: auto;
    }

    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}

@media only screen and (min-width: 500px){
    .kodbagarnalogo {
        margin-top: 130px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 35%;
        height: auto;
    }

    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}


@media only screen and (min-width: 575px){
    .kodbagarnalogo {
        margin-top: 130px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 70%;
        height: auto;
    }
    
    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}

@media only screen and (min-width: 768px){
    .kodbagarnalogo {
        margin-top: 105px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 50%;
        height: auto;
    }
    
    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}
.foot {
    padding: 25px;
    background-color: orange;
    text-align: center;
}
